.userform form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.userform h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.userform input[type="text"],
.userform input[type="password"],
.userform input[type="date"],
.userform input[type="datetime"],
.userform input[type="email"],
.userform input[type="number"],
.userform input[type="search"],
.userform input[type="tel"],
.userform input[type="time"],
.userform input[type="url"],
.userform textarea,
.userform select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  height: 48px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 10px;
}
.userform textarea{
  height: 150px;
  resize: none;
}
.userform input[type="radio"],
.userform input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.userform select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.userform input[type="submit"] {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  border:none;
  transition: 0.3s;
}
.userform input[type="submit"]:hover{
  background: #5715cb;
}

.userform fieldset {
  margin-bottom: 30px;
  border: none;
}

.userform legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.userform label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.userform label.light {
  font-weight: 300;
  display: inline;
}

.userform .number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}


.form_box table.fixed {
    width: 98%;
    table-layout: unset;
}
